<template name="home">
    
    <div class="row">
        <div class="col-md-8 main">
            <div class="tabs">Fresh Ideas</div>
            <div class="tab-content">
                <div class="row">
                    {{#each ideas}}
                    <div class="col-md-3">
                        <a href="{{pathFor 'idea'}}">{{title}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col-md-4 sidebar">
            <div class="section activity-feed">
                <div class="header">
                    <div class="header-title">Activity</div>
                    <div class="header-action"><!-- <a href="#">View more</a> --></div>
                </div>
                <ul class="feed">
                    {{#each activity}}
                    <li>{{> activityItem}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

</template>

<template name="activityItem">
    {{{activityString}}}
</template>